$red:#d61e2a;
$pink:#ea3c8c;
$violet:#5A64B5;
$color1:#d61e2a;//red
//before change #d8046f
$color2:#d61e2a;//violet
//before change #5b0166
$color3:#686f7a;
$button1:#d61e2a;//red
//before change #d8046f
$button2:#5A64B5;//violet
//before change #5b0166
$button3:black;
$a:#686f7a;//gray
$reda:#d61e2a;
$blue:#164675;//facebook
$menuColor:#d61e2a;
$bradius:3px;
$transition-time:0.3s ;
$titleBlue:#017691;
$itemwidth:23%;
$padding:13px;
$borderColor:#505763;//gray
$backgroundHeading:#2a303b;


// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
