@import "variables";

.padding-0-30{
  padding: 0 30px;
}
.padding-0-10{
  padding: 0 10px;
}
.padding-0-15{
  padding: 0 15px;
}

.one-line-text{
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.fixed-top{
  position: fixed;
  top: 0;
}
.fixed-bottom{
  position: fixed;
  bottom: 0;
}
.title-blue{
  color: $titleBlue;
}

.df{
  display: flex;
}
.interest-button-top{
  line-height: 43px;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  font-size: 20px;
  transition: 0.3s all;
  background: white;
  i{
    color:$color1;
  }
  .interest-count{
    color: $color1;;
  }
}

.details-box,.addcart-box{
  text-align: center;
  background: $button1;
  position: relative;
  height: 50px;
  border-radius: $bradius;
  display: flex;
  overflow: hidden;
  p,a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    color: white;
    width: 50%;
    cursor: pointer;
  }
  .details-button{
    background: $button3;
  }
}
.course-price-box{
  text-align: right;
  margin-top: 20px;
  .course-price-origin{
    font-size: 12px;
    text-decoration: line-through;
  }
  .course-price-sale{
    font-size: 18px;
    color: $color1;
  }
}
.full{
  height: 100%;
  width: 100%;
}
.stars{
  color: #f4c150;
}

.button:hover{
  box-shadow: 4px 4px 14px 2px rgba(0,0,0,0.1)
}
.stars-rating-static{
  .fa-star:before{
    content:"\f005\2009\f005\2009\f005\2009\f005\2009\f005" !important;
  }
  .star-rating-static-first{
    color: #dedfe0;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    .star-rating-static-second{
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      white-space: nowrap;
      z-index: 2;
      color: #f4c150;
    }
  }
}//.stars-rating-static
.login-tab{
  //temporay just can singin through Facebook
  div{
    display: none !important;
  }

  .login-facebook,.back-button{
    display: block !important;
  }

  .login-tab-button{
    box-shadow: 0 2px 2px 0 rgba(41,48,59,.24), 0 0 2px 0 rgba(41,48,59,.12);
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    p{
      margin: 0;
    }
    .df{
      flex-direction: row;
      align-items: center;
      color: white;
      font-size: 16px;
      i.fa{
        padding: 11px 0 11px 5px;
        font-size: 20px;
        text-align: center;
        width: 50px;
      }
    }
  }//.login-tab-button
  .login-facebook{
    .df{
      background: $blue;
    }
  }
  .signup-button{
    margin-top: 10px;
    cursor: pointer;
    .df{
      background: $color1;
    }
  }
  .signin-button{
    background: #3498db;
    margin-top: 10px;
    display: none;
  }
  .user-infomations{
    display: flex;
    flex-wrap: wrap;
    .input-user-infomations{
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      input{
        width: 100%;
        box-shadow: none;
        padding: 10px 10px 10px 40px;
      }
    }
    .submit{
      width: 100%;
      input{
        width: 100%;
        padding:10px;
        font-weight: 500;

      }
    }
    .signup-submit{
      display: none;
    }
    .forget-password{
      width: 100%;
      text-align: center;
      margin-top: 10px;
      a{
        color: $blue;
        font-weight: 500;
      }
    }
    .input-user-infomations:before{
      font:normal normal normal 14px/1 FontAwesome;
      color: #dedfe0;
      font-size: 20px;
      left: 10px;
      line-height: 1;
      margin-top: 10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 20px;
      z-index: 2;
    }
    hr{
      width: 100%;
      margin:10px 0 20px 0;
      padding: 0;
    }
    .username{
      display: none;
    }
    .email:before{
      content:'\f0e0';
    }
    .password:before{
      content:"\f023";
    }
    .username:before{
      content: '\f2c0';
    }
  }//.user-infomations
}//.login-tap
.lightbox{
  left: 0;
  transition: $transition-time;
  z-index: -1;
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  .modal-background{
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
  .modal-dialogs{
    position: static;
    margin: 50px auto;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $bradius;
    background: white;
    padding: 30px 15px;
    width: 400px;
    z-index: 3;

  }//.modal-dialog
}//#login-popup
.more-button{
  display: none;
}
@media only screen and (max-width: 600px) {
  .padding-0-15{
    padding: 0 5px;
  }

  .more-item-box{
    display: none;
  }
  .more-button{
    display: block;
    text-align: center;
    line-height: 30px;
    border: 1px solid $color1;
    border-radius: $bradius;
    color: $color1;
    background: white;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }

}

@media only screen and (max-width: 420px) {
  .lightbox{
    .modal-dialogs{
      width: 300px;
    }
  }
}
