$red:#d61e2a;
$pink:#e55e8d;
$violet:#828bcc;
$reda:#d61e2a;
$blue:#164675;//facebook
$buttonColor: black;
$bradius:3px;
$transition-time:0.3s ;
$titleBlue:#017691;
$padding:13px;
.padding-0-30{
  padding: 0 30px;
}
.padding-0-10{
  padding: 0 10px;
}
.padding-0-15{
  padding: 0 15px;
}

.one-line-text{
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.fixed-top{
  position: fixed;
  top: 0;
}
.fixed-bottom{
  position: fixed;
  bottom: 0;
}
.title-blue{
  color: $titleBlue;
}

.df{
  display: flex;
}
.cart{
  line-height: 43px;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  font-size: 20px;
  transition: 0.3s all;
  background: white;
  a{
    color:$red;
  }
  .cart-count{
    color: $red;
  }
}
.addcart-box{
  .addcart-button{

  }
}
.details-box,.addcart-box{
  text-align: center;
  background: $red;
  position: relative;
  height: 50px;
  border-radius: $bradius;
  a,.addcart-button{
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 50px;
  }
}
.course-price-box{
  text-align: right;
  margin-top: 20px;
  .course-price-origin{
    font-size: 12px;
    text-decoration: line-through;
  }
  .course-price-sale{
    font-size: 18px;
    color: $red;
  }
}
.full{
  height: 100%;
  width: 100%;
}
.stars{
  color: #f4c150;
}

.button:hover{
  box-shadow: 4px 4px 14px 2px rgba(0,0,0,0.1)
}

@media only screen and (max-width: 600px) {
  .padding-0-15{
    padding: 0 5px;
  }

}
