.error{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  object-fit: cover;

}

.content{
  margin: 0 auto;
  position: absolute;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 40px;
  font-family: 'Cabin Sketch', cursive;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  p{
    transform: translate(0,-100px);
    color: white;
  }
}
footer{
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
}
