@import "variables";

#menu{
  width: 100%;
  height: 50px;
  background: transparent;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  flex-wrap: wrap;
  .menu-left{
    height: 50px;
    width: 42%;
  }
  .middle{
    width: 16%;
    text-align: center;
    a{
      img{
        height: 50px;
      }
    }
  }
  .menu-right{
    width: 42%;
    display: flex;
    justify-content: flex-end;
    .menu-right-a{
      border: 1px solid black;
      border-radius: $bradius;
      height: 40px;
      margin-top: 5px;
      line-height: 30px;
      padding: 5px;
      margin-left: 10px;
      color: black;
    }
  }

}//#menu
#heading{
  position: relative;
  img{
    width: 100%;
    max-height: 500px;

  }
  .intro{
    position: absolute;
    top: 100px;
    left: 100px;
    color: white;
    padding-left: 10px;
    border-left:3px solid #eee;
    h1{
      font-size: 40px;
      margin: 0;
    }
    p{
      font-size: 30px;
      margin: 0;
    }
  }
}


#signup{
  display: flex;
  justify-content: center;

  padding: 40px 100px;
  .intro{
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  form{
    width: 300px;

    input{
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
    }
    button{
      width: 100%;
      max-width: 300px;
      color: white;
      margin-top: 10px;
      background: $button1;
    }
  }

}//#checkout
