
$red:#d61e2a;
$pink:#e55e8d;
$violet:#828bcc;
$reda:#d61e2a;
$gray:#bdc3c7;
$blue:#164675;//facebook
$buttonColor: black;
$bradius:3px;
$transition-time:0.3s ;
$titleBlue:#017691;
$itemwidth:23%;
$padding:13px;
$borderColor:$red;
$backgroundHeading:#2a303b;

.layer{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
html,body{
  background: #f7f8fa;
  width: 100%;
  height: 100%;
  background: 100%;
  font-family: "Roboto",sans-serif;
  color: #505763;
}
.separate{
  padding: 5px 0;
  hr{
    flex: 1 0 auto;
  }
  p{
    padding: 0 5px;
    transform: translate(0,9px);
  }
}
.login-tab{
  .login-tab-button{
    box-shadow: 0 2px 2px 0 rgba(41,48,59,.24), 0 0 2px 0 rgba(41,48,59,.12);
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    .df{
      flex-direction: row;
      align-items: center;
      color: white;
      font-size: 16px;
      i.fa{
        padding: 11px 0 11px 5px;
        font-size: 20px;
        text-align: center;
        width: 50px;
      }
    }
  }//.login-tab-button
  .login-facebook{
    .df{
      background: $blue;
    }
  }
  .signup-button{
    margin-top: 10px;
    cursor: pointer;
    .df{
      background: $red;
      margin-bottom: 0;
    }
  }
  .user-infomations{
    display: flex;
    flex-wrap: wrap;
    .input-user-infomations{
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      input{
        width: 100%;
        box-shadow: none;
        padding: 10px 10px 10px 40px;
      }
    }
    .submit{
      width: 100%;
      input{
        width: 100%;
        padding:10px;
        font-weight: 500;

      }
    }
    .signup-submit{
      display: none;
    }
    .forget-password{
      width: 100%;
      text-align: center;
      margin-top: 10px;
      a{
        color: $blue;
        font-weight: 500;
      }
    }
    .input-user-infomations:before{
      font:normal normal normal 14px/1 FontAwesome;
      color: #dedfe0;
      font-size: 20px;
      left: 10px;
      line-height: 1;
      margin-top: 10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 20px;
      z-index: 2;
    }
    hr{
      width: 100%;
      margin:10px 0 20px 0;
      padding: 0;
    }
    .username{
      display: none;
    }
    .email:before{
      content:'\f0e0';
    }
    .password:before{
      content:"\f023";
    }
    .username:before{
      content: '\f2c0';
    }
  }//.user-infomations
}//.login-tap
#menu{
  z-index: 99999;
  position: relative;
  margin-bottom: 50px;
  .cart-popup{
    position: absolute;
    display: none;
    width: 300px;
    right: -190%;
    border-radius: $bradius;
    text-align: left;
    box-shadow: 0 2px 8px hsla(210,3%,87%,.5);
    overflow: hidden;
    border-top:5px solid transparent;
    top: 40px;
    .course-image-box,.course-info-box{
      display: none;
    }
    .interested-course{
      display: grid !important;
      border-bottom: 1px solid $gray;
      color: black;
      padding: 5px;
      position: relative;
      padding-right: 60px;
      display: initial;
      background: white;
      border-radius: $bradius;
    }
      .course-info-start{
        line-height: 15px;
        font-size: 14px;
        margin: 0;
      }
      .course-info-title{
        font-size: 16px !important;
        line-height: 21px !important;
        margin: 0 !important;
        color: $red !important;
      }
      .course-info-intro-summary{
        display: none;
      }
      .course-info-rating{
        display: none;
      }
      .course-info-centre{
        line-height: 15px;
        margin: 0;
        font-size: 14px;
      }
      .course-price-box{
        text-align: left;
        line-height: 20px;
      }
      .course-price-box{
        margin-top: 0;
      }
      .details-box{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        .details-button{
          width: 60px;
          height: 100%;
          font-size: 15px;
          padding: 0 5px;
        }
      }
      .course-popup-detail,.interest-button{
        display: none !important;
      }

    .interested-course:last-child{
      border: none;
    }
  }
  #menu-desktop{
    width: 100%;
    height: 50px;
    background: $red;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    .menu-left{
      height: 50px;
      width: 42%;
      a.blog{
        color: white;
        height: 100%;
        width: 60px;
        padding: 14px;
        display: block;
        text-align: center;
        font-size: 16px;
        background: black;
      }
    }//#menuLeft
    .middle{
      width: 15%;
      width: 50px;
      text-align: center;
      .logoBrand{
        img{
          height: 100%;
        }
      }
    }//.middle
    .menu-right{
      width: 42%;
      p.login-button{
        float: right;
        cursor: pointer;
        border-radius: $bradius;
        height: 80%;
        margin-top: 5px;
        padding:10px ;
        background: white;
        color: #686f7a;
        font-weight: 500;
        text-transform: uppercase;
      }
      .interest-button-top{
        float: right;
        margin-right: 10px;
        color: white;
        margin-top: 5px;
        border-radius: $bradius;
        width: auto;
        padding: 0 11px;
        transition: $transition-time all;
        position: relative;
        a.cart-icon{
          background: transparent;
          transition: $transition-time all;
        }

      }//.cart

    }//.menu-right

  }//#menu


  #menu-mobile{
    display: none;
    .menu-logo{
      // overflow: hidden;
      width: 100%;
      justify-content: center;
      bottom: 5px;
      img{
        cursor: pointer;
        width: 50px;
        border-radius: 50%;
      }
    }
    .interest-button-top{
      position: fixed;
      right: 15px;
      top: 125px;
      background: $red;
      border: 1px solid white;
      .cart-popup{

        left: auto;
        right: 0;
      }
      a{
        color: white;
      }
      .interest-count{
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        height: 100%;
        width: 100%;
        margin: 0;
        .interest-count-items{
          position: absolute;
          top: -1px;
          right: -1px;
          height: 15px;
          width: 15px;
          background: black;
          color: white;
          font-size: 11px;
          line-height: 15px;
          border-radius: 50%;
        }
      }
    }//.cart

  }//#menu-mobile
}
.logo{
  background-image: url(/images/header/logo_small.png);
  background-size: cover;
}
.banner-slogan{
  color: white;
  position: absolute;;
  top: 50px;
  left: 50px;
  h1{
    font-size: 76px;
  }
  h3{
    font-size: 35px;
  }
}
#course-popup-mobile{
  display: none;
}

@media only screen and (max-width: 600px) {

  #menu{
    margin-bottom: 0;
    #menu-desktop{
      display: none;
    }//#menu-desktop
    #menu-mobile{
      display: initial;
      .cart-popup{
        display: none;
      }
    }//#menu-mobile
  }//#menu
  .menu-mobile-popup::before{
    content:'';
    height:0;
    position:absolute;
    width:0;
    border:6px solid transparent;
    border-top-color:inherit;
    z-index:2;
    bottom:-12px;
    left: 50%;
    transform:translateX(-50%);
    opacity:1;
    transition: 0.2s ease-in-out;
  }
  .menu-mobile-popup{
    overflow: hidden;
    position: absolute;
    bottom: 56px;
    background: white;
    width: 65%;
    border-radius: $bradius;
    display: none;
    background: black;
    .menu-mobile-popup-wrap{
      font-size: 0;
      white-space: nowrap;
      .menu-mobile-popup-first-sence,.menu-mobile-popup-second-sence{
        display: inline-block;
        padding: 10px ;
        font-size: 14px;
        width: 100%;
      }
      .menu-mobile-popup-first-sence{
        a{
          height: 40px;
          width: 100%;
          border: 1px solid white;
          background: transparent;
          color:white;
          display: block;
          margin-top: 10px;
          line-height: 40px;
          border-radius: $bradius;
        }
        a:first-child{
          margin-top: 0;
        }
      }
      .menu-mobile-popup-second-sence{
        display: none;
      }
      .menu-mobile-popup-account,.menu-mobile-popup-login{
        height: 40px;
        width: 100%;
        background:transparent;
        border: 1px solid white;
        color: white;
        line-height: 40px;
        margin-top: 10px;
        border-radius: $bradius;
      }
    }
  }
}


footer{
  position: relative;
  border-top: 1px solid #999;
  p{
    margin: 0;
    line-height: 50px;
  }
  .facebook-icon{
    position: absolute;
    left: 50%;
    top: -15px;
    background: #3b5897;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    transform: translateX(-50%);
    color: white;
    i{
      line-height: 30px;
    }
  }//.facebook-icon
}//footer
