@import "variables";
input{
  border: 1px solid #cacbcc !important;
  padding: 10px;
  border-radius: 2px
}
input:focus{
  border-color: $violet !important;
  outline: transparent;
}
a{
  text-decoration: none !important;
  color: $a;
}
a:hover{
  color: #003845;
}
img{
  object-fit: cover;
}
