
$red:#d61e2a;
$pink:#e55e8d;
$violet:#828bcc;
$reda:#d61e2a;
$blue:#164675;//facebook
$buttonColor: black;
$bradius:3px;
$transition-time:0.3s ;
$titleBlue:#017691;
$itemwidth:23%;
$padding:13px;
$borderColor:$red;
body{
  background: white;
}
#course-details{
  margin-top: 50px;
  .course-details-headline{
    background: #2a303b;
    padding: 60px 0;
    color: white;
    .course-info-title{

    }
    .course-info-intro-summary{
      font-size: 21px;
      line-height: 27px;
    }

    .course-info-rating{
      display: flex;
      .best-seller-tag{
        margin-right: 15px;
      }
      .stars-rating-static{
        margin-right: 15px;
      }

    }
  }//.course-details-headline
  .course-details-info{

  }//course-details-info
  .course-details-box{
    display: flex;
    position: relative;
    .course-details-info-left{
      width: calc(200%/3);
      #courses{
        display: grid;
        .courses-row{
          margin-top: 30px;
          h3{
            padding-left: 0;
          }
        }
      }
      .course-details-comment-box{
        margin-top: 30px;
        .course-details-comments-list{
        .course-details-comment-individuals{
          border: solid $borderColor;
          border-width: 1px 0 0px 0;
          padding: 10px 0;
          .course-details-comment{
          overflow: hidden;
          .course-details-comment-left{
            float: left;
            display: flex;
            width: 200px;
            .course-details-comment-avatar{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              flex: 0 0 auto;
            }
            .course-details-comment-date-username{
              display: flex;
              flex-direction: column;
              flex:auto;
              justify-content: center;
              margin-left: 10px;
            }
          }//.course-details-comment-left

          .course-details-comment-right{
            float: left;
            width: calc(100% - 200px);
          }//.course-details-comment-right
        }//.course-details-comment
        }
        .course-details-comment-individuals:last-child{
          border: none;
        }
        .more-item-box{
          display: none;
        }
        .more-button{
          display: block;
          text-align: center;
          line-height: 30px;
          border: 1px solid $red;
          border-radius: $bradius;
          color: $red;
          background: white;
          cursor: pointer;
        }
      }//.course-details-comments-list
      }
      .course-details-comment-input{
        textarea{
          width:100%;
          border:1px solid $borderColor;
          outline:0;
        }
      }
      .course-details-info-left-content{
        text-align: justify;
      }
      .course-details-info-left-slider{
        .swiper-container {
            width: 600px;
            height: 300px;
            margin: 20px auto;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .pagination-button{
          top: 50%;
        }
      }
    }
    .course-details-info-right{
      position: absolute;
      top: 0;
      right: 0;
      color: #505763;
      width: calc(100%/3);
      background: white;
      border-radius:$bradius;
      padding: 3px;
      box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
      z-index: 1000;
      .course-details-feature-image{
        height: 200px;
        img{
          object-fit: cover;
        }
      }
      .course-details-info-right-content{
        padding: 20px;
        .course-price-box{
          margin: 0 0 10px 0;
        }
        .course-details-addition-info{
          margin: 10px  0 0 0 ;
          ul{
            margin: 0;
            padding-left: 0;
            li{
              display: block;
              line-height: 18px;
              i{
                width: 15px;
                color: #017691;
              }
              span{
                color: $red;
              }
            }
          }
        }
      }
    }

  }//.course-details-box
  .course-details-main{
    .course-details-box{
      .course-details-info-right{
        display: none;
      }
      .course-details-info{
        width: 100%;

        .course-details-info-left{
          padding: 15px 15px 15px 0;
        }
      }
    }
  }//.course-details-main

}//#cousre-details

.scroll{
  position: fixed !important;
  top: 60px !important;
  z-index: 1000;
  .course-details-feature-image{
    display: none !important;
  }
  .course-details-info-right-content{
  }
}

#checkout{
  .course-option-general{
    border-bottom: 1px solid $borderColor;
    padding: 5px 0;
    h3{
      margin: 0;
    }
    .course-price-box{
      text-align: left;
      margin-top: 0;
    }
  }
  .checkout-box{
    display: none;
    .checkout-step1{
      .login-tab{
        .back-button{
          text-align: center;
          width: 100%;
          cursor: pointer;
          color: $red;
        }
      }
    }
    .checkout-step2{

      display: none;
      h3{
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
      }
      div{
        margin-bottom: 15px;
      }
      div:last-child{
        margin-bottom: 0;
      }
      input{
        width: 100%;
      }
      p{
        margin-bottom: 0;
      }
      select{
        width: 100%;
        border: 1px solid black;
        padding: 5px 3px;
      }
      .checkout-input-coupon{
        display: flex;
        button{
          width: 100px;
          background: $red;
          color: white;
          border: none;
        }
        input{
          width: calc(100%-100px);
        }
      }

    }

  }
  .course-option{
    border-bottom: 1px solid #333;
    padding: 5px 0;
    position: relative;
    .course-option-info{
      .course-info-start{
        margin:0;
      }
    }
    .choose-course-box{
      position: absolute;
      right: 0;
      top: 5px;
      width: 70px;
      z-index: 1000001;
      overflow: hidden;
      p{
        margin: 0;
        color: white;
        text-align: center;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        border-radius: $bradius;
      }
      .choose-course-button{
        background: $red;
      }
      .interest-button{
        background: #3498db;
      }


    }
  }
  .course-option:last-child{
    border: none;
  }
  }//#checkout

.choose-class-box{
  text-align: center;
  background: $red;
  position: relative;
  height: 50px;
  border-radius: $bradius;
  display: flex;
  .choose-class-button{
    line-height: 50px;
    color: white;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #course-details{
    .course-details-box{
      .course-details-info-left{
        .course-details-info-left-slider{
          .swiper-container{
            width: 400px;
          }
        }
      }
    }
  }

}
@media only screen and (max-width: 600px) {
  #course-details{
    margin-top: 0;
    .course-details-headline{
      padding: 0 0 30px 0;
      .course-details-box{
        flex-wrap: wrap;
        .course-details-info-left{
          width: 100%;

        }
        .course-details-info-right{
          width: 100%;
          position: relative;
          margin-top: 30px;
          .course-details-feature-image{
            height: auto;
          }
        }
      }
    }//.course-details-headline
    .course-details-main{
      .course-details-box{
        .course-details-info{
          .course-details-info-left{
            padding-right: 0;
            width: 100%;

          }
          .course-details-info-right{
            display: none;
          }
        }
      }
    }//.course-details-main
  }//#course-details
}

@media only screen and (max-width: 480px) {
  #course-details{
    .course-details-box{
      .course-details-info-left{
        .course-details-comment-box{
          .course-details-comments-list{
            .course-details-comment-individuals{
              .course-details-comment{
                .course-details-comment-left{
                  width: 100%;
                }
                .course-details-comment-right{
                  width: 100%;
                }
              }
            }
          }
        }
        .course-details-info-left-slider{
          .swiper-container{
            width: 300px;
          }
        }
      }
    }
  }
}
