@import "variables";
//phan comment trong single
.course-details-comment-box{
  display: none !important;
}
//nut trang ca nhan
.personal-site{
  display: none;
}


//cho hien thi tat ca cac khoa ra man hinh
.courses-row{
  .pagination-button{
    display: none;
  }
  .courses-group{
    white-space: unset !important;
    .courses-item-box{
      margin-bottom:20px !important;
    }
  }
}
